<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.hsahluwalia9.Horoscope-API-App" version="0.0.1">
    <name>Horoscope App</name>
    <description>
        Horoscope App for Final Assignment. Utilizes online API and JSON.
    </description>
    <content src="index.html"/>
    <author href="https://hsahluwalia9.github.io">
        Harsimar Ahluwalia
    </author>
    <access origin="*"/>
</widget>
